.onLightYellow{
    -webkit-box-shadow: 4px 12px 65px 40px rgba(255,221,0,1);
    -moz-box-shadow: 4px 12px 65px 40px rgba(255,221,0,1);
    box-shadow: 4px 12px 65px 40px rgba(255,221,0,1);
}
.onLightGreen{
    -webkit-box-shadow: 4px 12px 65px 40px rgba(60,250,60,1);
    -moz-box-shadow: 4px 12px 65px 40px rgba(60,250,60,1);
    box-shadow: 4px 12px 65px 40px rgba(60,250,60,1);
}
.onLightRed{
    -webkit-box-shadow: 4px 12px 65px 40px rgba(250,0,0,1);
    -moz-box-shadow: 4px 12px 65px 40px rgba(250,0,0,1);
    box-shadow: 4px 12px 65px 40px rgba(250,0,0,1);
}